.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.button {
  width: 50px;
  margin: 3px;
  background-color:cadetblue;
  color: rgb(15, 15, 15);
  font-weight:500px;
}